<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>Document</title>
    <style>
      input.ng-invalid {
        background-color: rgba(255, 192, 203, 0.8);
      }
      input.ng-valid {
        background-color: rgba(144, 238, 144, 0.8);
      }
    </style>
  </head>
  <body>
    <div class="login-huy">
      <form
        name="myForm"
        style="
          background-color: #ffffff;
          width: 400px;
          border: 1px solid black;
          border-radius: 10px;
          box-shadow: 0px 0px 5px #fff;
          padding: 20px;
        "
      >
        <h3 style="text-align: center">
          Sign In <span><i class="fa-regular fa-face-smile"></i></span>
        </h3>
        <br />
        <!-- Email input -->
        <div class="">
          <label>Email address</label>
          <input
            style="border: 1px solid rgba(0, 0, 0, 0.2)"
            type="email"
            id="input_Email"
            class="form-control"
            name="myEmail"
            ng-model="myEmail"
            required
          />
        </div>
        <br />
        <!-- Password input -->
        <div class="">
          <label>Password</label>
          <input
            style="border: 1px solid rgba(0, 0, 0, 0.2)"
            type="password"
            id="input_password"
            class="form-control"
            name="myPassword"
            ng-model="myPassword"
            required
          />
        </div>
        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
          <div class="col d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="form2Example31"
                checked
              />
              <label class="form-check-label" for="form2Example31">
                Remember me
              </label>
            </div>
          </div>
          <div class="col">
            <!-- Simple link -->
            <a href="#!">Forgot password?</a>
          </div>
        </div>
        <!-- Submit button -->
        <button
          onclick="validate_password()"
          id="sign_in_btn"
          type="button"
          class="btn btn-primary btn-block mb-4"
        >
          Sign in
        </button>
        <!-- Register buttons -->
        <div class="text-center">
          <p>Not a member? <a href="#!">Register</a></p>
          <p>or sign up with:</p>
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
          </button>
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-google"></i>
          </button>
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-twitter"></i>
          </button>
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-github"></i>
          </button>
        </div>
      </form>
    </div>
    <script src="./script.js"></script>
  </body>
</html>
